In [2]:
import os
import pandas as pd
import tensorflow as tf

In [7]:
df = pd.read_csv("QuarterlyResults.csv", index_col=0)
df

,DATE,funds_rate,oil_cpi,high_tax_rate,low_tax_rate,unemployment,real_gdp
0,1970-01-01,8.573333,16.566667,71.75,14.0,4.169449,4707.112
3,1970-04-01,7.880000,16.733333,71.75,14.0,4.810251,4715.441
6,1970-07-01,6.703333,17.200000,71.75,14.0,5.318905,4757.213
9,1970-10-01,5.566667,17.700000,71.75,14.0,5.824672,4708.281
12,1971-01-01,3.856667,17.933333,70.00,14.0,5.992794,4834.349
15,1971-04-01,4.563333,18.100000,70.00,14.0,6.020654,4861.938
18,1971-07-01,5.473333,18.400000,70.00,14.0,6.134032,4899.950
21,1971-10-01,4.750000,18.366667,70.00,14.0,5.984506,4914.261
24,1972-01-01,3.540000,18.133333,70.00,14.0,5.865190,5002.436
27,1972-04-01,4.300000,18.266667,70.00,14.0,5.780045,5118.278
30,1972-07-01,4.740000,18.500000,70.00,14.0,5.700059,5165.448
33,1972-10-01,5.143333,18.466667,70.00,14.0,5.322382,5251.226
36,1973-01-01,6.536667,19.066667,70.00,14.0,5.042220,5380.502
39,1973-04-01,7.816667,20.066667,70.00,14.0,5.008163,5441.504
42,1973-07-01,10.560000,20.866667,70.00,14.0,4.903255,5411.935
45,1973-10-01,9.996667,24.333333,70.00,14.0,4.795889,5462.397
48,1974-01-01,9.323333,30.300000,70.00,14.0,5.161829,5417.024
51,1974-04-01,11.250000,32.533333,70.00,14.0,5.265853,5431.265
54,1974-07-01,12.090000,34.733333,70.00,14.0,5.716882,5378.679
57,1974-10-01,9.346667,35.433333,70.00,14.0,6.634973,5357.166
60,1975-01-01,6.303333,34.866667,70.00,14.0,8.403112,5292.444
63,1975-04-01,5.420000,35.633333,70.00,14.0,8.915238,5333.220
66,1975-07-01,6.160000,37.100000,70.00,14.0,8.568982,5421.357
69,1975-10-01,5.413333,38.133333,70.00,14.0,8.335354,5494.446
72,1976-01-01,4.826667,38.166667,70.00,14.0,7.873807,5618.520
75,1976-04-01,5.196667,38.100000,70.00,14.0,7.607754,5660.972
78,1976-07-01,5.283333,38.833333,70.00,14.0,7.788663,5689.756
81,1976-10-01,4.873333,40.266667,70.00,14.0,7.834343,5732.462
84,1977-01-01,4.660000,42.433333,70.00,14.0,7.621904,5799.160
87,1977-04-01,5.156667,43.333333,70.00,14.0,7.162304,5912.977
...,...,...,...,...,...,...,...
486,2010-07-01,0.186667,263.421667,35.00,10.0,9.598991,14845.458
489,2010-10-01,0.186667,286.985000,35.00,10.0,9.701335,14939.001
492,2011-01-01,0.156667,317.427333,35.00,10.0,9.155943,14881.301
495,2011-04-01,0.093333,343.531667,35.00,10.0,9.205288,14989.555
498,2011-07-01,0.083333,345.495667,35.00,10.0,9.106949,15021.149
501,2011-10-01,0.073333,343.633000,35.00,10.0,8.806586,15190.255
504,2012-01-01,0.103333,339.225667,35.00,10.0,8.348089,15291.035
507,2012-04-01,0.153333,336.490333,35.00,10.0,8.266032,15362.415
510,2012-07-01,0.143333,329.124667,35.00,10.0,8.098519,15380.802
513,2012-10-01,0.160000,338.124333,35.00,10.0,7.970101,15384.254
516,2013-01-01,0.143333,330.649333,39.60,10.0,7.790585,15491.878
519,2013-04-01,0.116667,322.066667,39.60,10.0,7.668801,15521.559
522,2013-07-01,0.083333,334.735000,39.60,10.0,7.398071,15641.336
525,2013-10-01,0.086667,340.092333,39.60,10.0,7.102421,15793.928
528,2014-01-01,0.073333,364.753000,39.60,10.0,6.735221,15757.570
531,2014-04-01,0.093333,338.264333,39.60,10.0,6.291684,15935.825
534,2014-07-01,0.090000,338.527000,39.60,10.0,6.161056,16139.513
537,2014-10-01,0.100000,312.505000,39.60,10.0,5.812645,16220.222
540,2015-01-01,0.110000,272.996000,39.60,10.0,5.618846,16349.970
543,2015-04-01,0.123333,265.328000,39.60,10.0,5.506584,16460.889
546,2015-07-01,0.136667,249.246333,39.60,10.0,5.187246,16527.587
549,2015-10-01,0.160000,235.921667,39.60,10.0,5.143721,16547.619
552,2016-01-01,0.360000,213.009667,39.60,10.0,5.018310,16571.573
555,2016-04-01,0.373333,222.952000,39.60,10.0,4.970255,16663.516
558,2016-07-01,0.396667,230.542333,39.60,10.0,4.952021,16778.148
561,2016-10-01,0.450000,238.843333,39.60,10.0,4.813227,16851.420
564,2017-01-01,0.700000,249.716667,39.60,10.0,4.667068,16903.240
567,2017-04-01,0.950000,246.683000,39.60,10.0,4.388430,17031.085
570,2017-07-01,1.153333,251.696667,39.60,10.0,4.382926,17163.894
573,2017-10-01,1.203333,269.308667,39.60,10.0,4.156632,17271.702

In [24]:
filename = "out.csv"

features = tf.placeholder(tf.int32, shape=[5], name='features')
date = tf.placeholder(tf.string, name='DATE')
total = tf.reduce_sum(features, name='total')

printerop = tf.Print(total, [date, features, total], name='printer')

with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    with open(filename) as inf:
        # Skip header
        next(inf)
        for line in inf:
            # Read data, using python, into our features
            row, DATE, funds_rate, oil_cpi, high_tax_rate, low_tax_rate, unemployment, real_gdp = line.strip().split(",")
            funds_rate = float(funds_rate)
            oil_cpi = float(oil_cpi)
            try:
                high_tax_rate = float(high_tax_rate)
            except:
                pass
            low_tax_rate = float(low_tax_rate)
            unemployment = float(unemployment)
            real_gdp = float(real_gdp)
            
            # Run the Print ob
            total = sess.run(printerop, feed_dict={features: [funds_rate, oil_cpi, high_tax_rate, low_tax_rate, unemployment], date:DATE})
            print(DATE, total)

('1970-01-01', 113)
('1970-04-01', 28)
('1970-07-01', 29)
('1970-10-01', 28)
('1971-01-01', 110)
('1971-04-01', 28)
('1971-07-01', 29)
('1971-10-01', 28)
('1972-01-01', 110)
('1972-04-01', 27)
('1972-07-01', 27)
('1972-10-01', 28)
('1973-01-01', 112)
('1973-04-01', 31)
('1973-07-01', 34)
('1973-10-01', 36)
('1974-01-01', 127)
('1974-04-01', 46)
('1974-07-01', 51)
('1974-10-01', 51)
('1975-01-01', 133)
('1975-04-01', 48)
('1975-07-01', 50)
('1975-10-01', 51)
('1976-01-01', 133)
('1976-04-01', 49)
('1976-07-01', 50)
('1976-10-01', 51)
('1977-01-01', 137)
('1977-04-01', 54)
('1977-07-01', 55)
('1977-10-01', 57)
('1978-01-01', 141)
('1978-04-01', 57)
('1978-07-01', 58)
('1978-10-01', 60)
('1979-01-01', 147)