In [24]:
#CONSTANTS
init_year = '1970'
ending = '2018'

In [25]:
#FUNCTIONS
def get_relevant_years(df):
    try:
        df = df[df['DATE'] > init_year]
        return df[df['DATE'] < ending]
    except:
        df = df[df['Date'] > init_year]
        return df[df['Date'] < ending]

In [26]:
#IMPORTS
import pandas as pd
from functools import reduce

In [27]:
#Reading in tax info
tax = pd.read_csv('../data/IncomeTaxRates.csv')

In [28]:
#get_relevant_years(tax)

In [29]:
#Reading in Funds Rate
funds_rate = pd.read_csv('../data/MonthlyFundsRate.csv')

In [30]:
#get_relevant_years(funds_rate)

In [31]:
#Reading in Oil CPI
oil_cpi = pd.read_csv('../data/MonthlyOilCPI.csv')

In [32]:
#get_relevant_years(oil_cpi)

In [33]:
#Reading in S&P 500 data
snp = pd.read_csv('../data/MonthlySNPInfo.csv')

In [34]:
#get_relevant_years(snp)

In [35]:
gdp = pd.read_csv('../data/RealQuarterlyGDP.csv')

In [36]:
#get_relevant_years(gdp)

In [37]:
unemployment = pd.read_csv('../data/QuarterlyUnemploymentSeasonllyAdjusted.csv')
#get_relevant_years(unemployment)

In [38]:
snp = pd.read_csv('../data/SP500.csv') # S & P csv
snp=snp[['Date','Adj Close']]
snp.columns= ['DATE','SNP Adj Close']

In [39]:
#dfs = [tax, funds_rate, oil_cpi, snp, gdp, unemployment]
dfs = [get_relevant_years(funds_rate), get_relevant_years(oil_cpi), get_relevant_years(tax), get_relevant_years(unemployment), get_relevant_years(gdp), get_relevant_years(snp)]

In [40]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on='DATE', how='outer'), dfs)
df_merged

,DATE,funds_rate,oil_cpi,high_tax_rate,low_tax_rate,unemployment,real_gdp,SNP Adj Close
0,1970-01-01,8.98,16.500,71.75,14.0,4.169449,4707.112,85.019997
1,1970-02-01,8.98,16.600,NaN,NaN,NaN,NaN,89.500000
2,1970-03-01,7.76,16.600,NaN,NaN,NaN,NaN,89.629997
3,1970-04-01,8.10,16.700,NaN,NaN,4.810251,4715.441,81.519997
4,1970-05-01,7.94,16.700,NaN,NaN,NaN,NaN,76.550003
5,1970-06-01,7.60,16.800,NaN,NaN,NaN,NaN,72.720001
6,1970-07-01,7.21,17.000,NaN,NaN,5.318905,4757.213,78.050003
7,1970-08-01,6.61,17.200,NaN,NaN,NaN,NaN,81.519997
8,1970-09-01,6.29,17.400,NaN,NaN,NaN,NaN,84.300003
9,1970-10-01,6.20,17.600,NaN,NaN,5.824672,4708.281,83.250000
10,1970-11-01,5.60,17.700,NaN,NaN,NaN,NaN,87.199997
11,1970-12-01,4.90,17.800,NaN,NaN,NaN,NaN,92.150002
12,1971-01-01,4.14,17.900,70.00,14.0,5.992794,4834.349,95.879997
13,1971-02-01,3.72,17.900,NaN,NaN,NaN,NaN,96.750000
14,1971-03-01,3.71,18.000,NaN,NaN,NaN,NaN,100.309998
15,1971-04-01,4.15,18.000,NaN,NaN,6.020654,4861.938,103.949997
16,1971-05-01,4.63,18.100,NaN,NaN,NaN,NaN,99.629997
17,1971-06-01,4.91,18.200,NaN,NaN,NaN,NaN,98.699997
18,1971-07-01,5.31,18.300,NaN,NaN,6.134032,4899.950,95.580002
19,1971-08-01,5.56,18.400,NaN,NaN,NaN,NaN,99.029999
20,1971-09-01,5.55,18.500,NaN,NaN,NaN,NaN,98.339996
21,1971-10-01,5.20,18.500,NaN,NaN,5.984506,4914.261,94.230003
22,1971-11-01,4.91,18.300,NaN,NaN,NaN,NaN,93.989998
23,1971-12-01,4.14,18.300,NaN,NaN,NaN,NaN,102.089996
24,1972-01-01,3.50,18.200,70.00,14.0,5.865190,5002.436,103.940002
25,1972-02-01,3.29,18.100,NaN,NaN,NaN,NaN,106.570000
26,1972-03-01,3.83,18.100,NaN,NaN,NaN,NaN,107.199997
27,1972-04-01,4.17,18.200,NaN,NaN,5.780045,5118.278,107.669998
28,1972-05-01,4.27,18.300,NaN,NaN,NaN,NaN,109.529999
29,1972-06-01,4.46,18.300,NaN,NaN,NaN,NaN,107.139999
...,...,...,...,...,...,...,...,...
546,2015-07-01,0.13,257.504,NaN,NaN,5.187246,16527.587,2103.840088
547,2015-08-01,0.14,248.505,NaN,NaN,NaN,NaN,1972.180054
548,2015-09-01,0.14,241.730,NaN,NaN,NaN,NaN,1920.030029
549,2015-10-01,0.12,241.086,NaN,NaN,5.143721,16547.619,2079.360107
550,2015-11-01,0.12,240.593,NaN,NaN,NaN,NaN,2080.409912
551,2015-12-01,0.24,226.086,NaN,NaN,NaN,NaN,2043.939941
552,2016-01-01,0.34,216.783,39.60,10.0,5.018310,16571.573,1940.239990
553,2016-02-01,0.38,211.224,NaN,NaN,NaN,NaN,1932.229980
554,2016-03-01,0.36,211.022,NaN,NaN,NaN,NaN,2059.739990
555,2016-04-01,0.37,214.852,NaN,NaN,4.970255,16663.516,2065.300049
556,2016-05-01,0.37,222.964,NaN,NaN,NaN,NaN,2096.949951
557,2016-06-01,0.38,231.040,NaN,NaN,NaN,NaN,2098.860107
558,2016-07-01,0.39,230.939,NaN,NaN,4.952021,16778.148,2173.600098
559,2016-08-01,0.40,229.880,NaN,NaN,NaN,NaN,2170.949951
560,2016-09-01,0.40,230.808,NaN,NaN,NaN,NaN,2168.270020
561,2016-10-01,0.40,236.624,NaN,NaN,4.813227,16851.420,2126.149902
562,2016-11-01,0.41,236.856,NaN,NaN,NaN,NaN,2198.810059
563,2016-12-01,0.54,243.050,NaN,NaN,NaN,NaN,2238.830078
564,2017-01-01,0.65,250.609,39.60,10.0,4.667068,16903.240,2278.870117
565,2017-02-01,0.66,250.204,NaN,NaN,NaN,NaN,2363.639893
566,2017-03-01,0.79,248.337,NaN,NaN,NaN,NaN,2362.719971
567,2017-04-01,0.90,250.189,NaN,NaN,4.388430,17031.085,2384.199951
568,2017-05-01,0.91,246.053,NaN,NaN,NaN,NaN,2411.800049
569,2017-06-01,1.04,243.807,NaN,NaN,NaN,NaN,2423.409912
570,2017-07-01,1.15,241.841,NaN,NaN,4.382926,17163.894,2470.300049
571,2017-08-01,1.16,251.601,NaN,NaN,NaN,NaN,2471.649902
572,2017-09-01,1.15,261.648,NaN,NaN,NaN,NaN,2519.360107
573,2017-10-01,1.15,262.678,NaN,NaN,4.156632,17271.702,2575.260010
574,2017-11-01,1.16,272.302,NaN,NaN,NaN,NaN,2584.840088
575,2017-12-01,1.30,272.946,NaN,NaN,NaN,NaN,2673.610107

In [41]:
i = -1 #quarter iterator
j = -1 #total iterator

#print(df_merged.values)


for k, row in enumerate(df_merged.values):
    j += 1
    i += 1
    i %= 3
    if i == 1 or i == 2:
        continue
    if j > 573:
        continue
    if k % 12 == 0:
        #get the tax rates
        high_tax_rate = row[3]
        low_tax_rate = row[4]
    
    #get averaged value
    a_oil = row[2]
    b_oil = df_merged.values[k+1][2]
    c_oil = df_merged.values[k+2][2]
    avg_oil = (a_oil + b_oil + c_oil) / 3
    
    a_rate = row[1]
    b_rate = df_merged.values[k+1][1]
    c_rate = df_merged.values[k+2][1]
    avg_rate = (a_rate + b_rate + c_rate) / 3
    
    #set values
    df_merged.set_value(k,'oil_cpi',avg_oil)
    df_merged.set_value(k,'funds_rate', avg_rate)
    df_merged.set_value(k,'high_tax_rate', high_tax_rate)
    df_merged.set_value(k,'low_tax_rate', low_tax_rate)

/afs/crc.nd.edu/user/w/wmarkley/ml/env/lib/python3.6/site-packages/ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/afs/crc.nd.edu/user/w/wmarkley/ml/env/lib/python3.6/site-packages/ipykernel_launcher.py:33: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/afs/crc.nd.edu/user/w/wmarkley/ml/env/lib/python3.6/site-packages/ipykernel_launcher.py:34: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/afs/crc.nd.edu/user/w/wmarkley/ml/env/lib/python3.6/site-packages/ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [42]:
df_merged[::3].to_csv('../data/QuarterlyResults.csv', header=False)